<ng-container [ngSwitch]="buttonParameters.type">
  <ng-container *ngSwitchCase="EButtonTypes.Big">
    <button class="btn" type="button" [ngClass]="EButtonTypes.Big">
      <mat-icon svgIcon="plus"></mat-icon>
      <span>{{ buttonParameters.text }}</span>
    </button>
  </ng-container>

  <ng-container *ngSwitchCase="EButtonTypes.MoreMessage">
    <button
      type="button"
      class="btn"
      [ngClass]="EButtonTypes.MoreMessage"
      mat-button
      [matMenuTriggerFor]="moreMessage"
    >
      <mat-icon svgIcon="more"></mat-icon>
    </button>
    <mat-menu #moreMessage="matMenu">
      <button type="button" mat-menu-item>Edit message</button>
      <button type="button" mat-menu-item>Delete message</button>
    </mat-menu>
  </ng-container>

  <ng-container *ngSwitchCase="EButtonTypes.Attach">
    <button
      type="button"
      mat-button
      [matMenuTriggerFor]="attachMenu"
      class="btn"
      [ngClass]="EButtonTypes.Attach"
    >
      <mat-icon svgIcon="attach"></mat-icon>
    </button>
    <mat-menu #attachMenu="matMenu">
      <button type="button" mat-menu-item>Item 1</button>
      <button type="button" mat-menu-item>Item 2</button>
    </mat-menu>
  </ng-container>

  <ng-container *ngSwitchCase="EButtonTypes.More">
    <button
      type="button"
      mat-button
      [matMenuTriggerFor]="moreMenu"
      class="btn"
      [ngClass]="EButtonTypes.More"
    >
      <mat-icon svgIcon="more"></mat-icon>
    </button>
    <mat-menu #moreMenu="matMenu">
      <button type="button" mat-menu-item>Item 1</button>
      <button type="button" mat-menu-item>Item 2</button>
    </mat-menu>
  </ng-container>

  <ng-container *ngSwitchCase="EButtonTypes.Send">
    <button type="submit" class="btn" [ngClass]="EButtonTypes.Send">
      <mat-icon svgIcon="send"></mat-icon>
    </button>
  </ng-container>

  <ng-container *ngSwitchCase="EButtonTypes.Smile">
    <div class="emoji">
      <button
        type="button"
        class="btn"
        [ngClass]="EButtonTypes.Smile"
        (click)="toggleEmojiPanelState()"
      >
        <mat-icon svgIcon="smile"></mat-icon>
      </button>
      <div
        class="emoji-list"
        [ngClass]="{ active: emojiPanelState$ | ngrxPush }"
      >
        <emoji-mart
          [showPreview]="false"
          (emojiClick)="addEmoji($event)"
        ></emoji-mart>
      </div>
    </div>
  </ng-container>

  <ng-container *ngSwitchCase="EButtonTypes.Add">
    <div
      class="add-file-message"
      (click)="addFilePanelActive = !addFilePanelActive"
    >
      <div
        class="add-file-message-panel"
        [ngClass]="{ active: addFilePanelActive }"
      >
        <button type="button" class="btn" [ngClass]="EButtonTypes.Video">
          <mat-icon svgIcon="film"></mat-icon>
        </button>
        <button type="button" class="btn" [ngClass]="EButtonTypes.Image">
          <mat-icon svgIcon="img"></mat-icon>
        </button>
        <button type="button" class="btn" [ngClass]="EButtonTypes.File">
          <mat-icon svgIcon="file"></mat-icon>
        </button>
      </div>
      <button type="button" class="btn" [ngClass]="EButtonTypes.Add">
        <mat-icon svgIcon="plus"></mat-icon>
      </button>
    </div>
  </ng-container>

  <ng-container *ngSwitchCase="EButtonTypes.Image">
    <button type="button" class="btn" [ngClass]="EButtonTypes.Image">
      <mat-icon svgIcon="image"></mat-icon>
    </button>
  </ng-container>

  <ng-container *ngSwitchCase="EButtonTypes.File">
    <button type="button" class="btn" [ngClass]="EButtonTypes.File">
      <mat-icon svgIcon="file"></mat-icon>
    </button>
  </ng-container>

  <ng-container *ngSwitchCase="EButtonTypes.Video">
    <button type="button" class="btn" [ngClass]="EButtonTypes.Video">
      <mat-icon svgIcon="video"></mat-icon>
    </button>
  </ng-container>
</ng-container>
