@import "mixins";

.head-title-text{
  font-size: $headFz;
  line-height: $headLh;
  color: $dark;
  text-transform: uppercase;
}

.nav-item-text{
  font-size: $mediumFz;
  line-height: $mediumLh;
  color: $lynch;
  text-transform: uppercase;
}

.user-name-text{
  font-size: $mediumFz;
  font-weight: $boldFw;
  line-height: $mediumFz;
  color: $dark;
  text-transform: capitalize;
}

.user-action-text{
  font-size: $standardFz;
  line-height: $standardLh;
  color: $blue;
  text-transform: lowercase;
}

.message-text-member, .message-text-user{
  font-size: $standardFz;
  line-height: $standardLh;
}

.message-text-member{
  color: $white;
}

.message-text-user{
  color: $lynch;
}

.date-text, .date-text-active{
  font-size: $standardFz;
  line-height: $standardLh;
}

.date-text{
  color: $lynch;
}

.date-text-active{
  color: $white;
}

.small-text{
  font-size: $smallFz;
  line-height: $smallLh;
}

.user-card-container{
  padding: 30px 40px;
  min-height: 220px;
  max-width: 550px;
  width: 100%;
}
