// Colors
$white: #ffffff;
$whiteZircon: #fafbff;
$whiteLilac: #f3f3fb;
$hawkesBlue: #e6ecfe;
$radicalRed: #ff3366;
$blue: #2a8bf2;
$lynch: #707c97;
$dark: #0d1c2e;
$green: #00c305;

// FontSizes
$headFz: 36px;
$bigFz: 20px;
$mediumFz: 18px;
$standardFz: 16px;
$smallFz: 14px;

// FontWeight:
$boldFw: bold;
$normalFw: normal;

// FontStyle:
$normalFs: normal;

// LineHeights
$headLh: 36px;
$bigLh: 20px;
$mediumLh: 18px;
$standardLh: 16px;
$smallLh: 14px;

// Font Family

@import url("https://fonts.googleapis.com/css2?family=Urbanist:wght@400;600&display=swap");
$fontFamilyMain: "Urbanist", sans-serif;
