<ng-container [ngSwitch]="selectParameters.type">
  <ng-container *ngSwitchCase="ESelectTypes.Filter">
    <div class="select-wrapper" mat-button [matMenuTriggerFor]="menu">
      <div class="select-value">
        <span>{{ value ? value : defaultValue }}</span>
        <mat-icon svgIcon="chevron-down"></mat-icon>
      </div>
      <div class="select-options"></div>
    </div>

    <mat-menu #menu="matMenu">
      <button
        *ngFor="let option of selectOptionsConfigList[ESelectTypes.Filter]"
        mat-menu-item
        (click)="change(option)"
      >
        {{ option }}
      </button>
    </mat-menu>
  </ng-container>

  <ng-container> </ng-container>
</ng-container>
