@import "src/assets/scss/mixins";

::ng-deep {
  .cdk-overlay-pane {
    width: 100%;
    max-width: 175px !important;
  }
  .mat-menu-panel {
    width: 100% !important;
  }
  .mat-menu-item {
    font-size: $mediumFz;
    line-height: $bigLh;
    font-family: $fontFamilyMain;
  }
}

.select-wrapper {
  width: 100%;
  min-width: 180px;
  min-height: 74px;
  padding: 23px 40px;
  background: $white;
  border-radius: 0 6px 6px 0;
  color: $lynch;
  margin-left: 2px;
  font-size: $mediumFz;
  line-height: $bigLh;
  display: flex;
  align-items: center;
}
.select-value {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: space-between;
  mat-icon {
    width: 16px;
    height: 16px;
    margin-left: 5px;
    color: $lynch;
  }
}
