<form [formGroup]="signUpForm" (ngSubmit)="submitForm()">
  <div class="sign-in">
    <div class="sign-in-item">
      <app-input
        formControlName="firstName"
        [inputParameters]="signUpConfig.inputs.firstName"
      ></app-input>
    </div>
    <div class="sign-in-item">
      <app-input
        formControlName="lastName"
        [inputParameters]="signUpConfig.inputs.lastName"
      ></app-input>
    </div>
    <div class="sign-in-item">
      <app-input
        formControlName="email"
        [inputParameters]="signUpConfig.inputs.email"
      ></app-input>
    </div>
    <div class="sign-in-item">
      <app-input
        formControlName="password"
        [inputParameters]="signUpConfig.inputs.password"
      ></app-input>
    </div>
    <div class="sign-in-item">
      <app-button [buttonParameters]="signUpConfig.buttons.signUp"></app-button>
    </div>
  </div>
</form>
