<ng-container *ngrxLet="chatRoomData$; let chatRoomData">
  <ng-container *ngIf="chatRoomData.chatData">
    <div class="chat-header">
      <div class="chat-header-item">
        <div class="chat-photo card-photo">
          <a [href]="['/']">
            <img
              [src]="(chatListData$ | ngrxPush)[chatRoomId$ | ngrxPush].photo"
              alt="chat-photo"
            />
          </a>
        </div>
        <div class="chat-info">
          <div class="chat-name user-name-text">
            {{ (chatListData$ | ngrxPush)[chatRoomId$ | ngrxPush].name }}
          </div>
          <div class="chat-online user-action-text">
            {{
              (chatListData$ | ngrxPush)[chatRoomId$ | ngrxPush].time
                | date: "h:mm:ss"
            }}
          </div>
        </div>
      </div>
      <div class="chat-header-item">
        <app-button
          [buttonParameters]="chatRoomConfig.buttons.attach"
        ></app-button>
        <app-button
          [buttonParameters]="chatRoomConfig.buttons.more"
        ></app-button>
      </div>
    </div>

    <div class="chat-body">
      <div class="chat-body-item" *ngFor="let message of chatRoomData.chatData">
        <div *ngIf="message.type === EMessageTypes.Member" class="member-photo">
          <img [src]="message.photo" alt="member-photo" />
        </div>
        <app-message [messageParameters]="message"></app-message>
        <div
          *ngIf="message.type === EMessageTypes.User"
          [ngSwitch]="message.status"
          class="status"
        >
          <ng-container *ngSwitchCase="EMessageStatus.Send">
            <mat-icon svgIcon="send-message"></mat-icon>
          </ng-container>
          <ng-container *ngSwitchCase="EMessageStatus.Read">
            <mat-icon svgIcon="read"></mat-icon>
          </ng-container>
          <ng-container *ngSwitchCase="EMessageStatus.Dispatch">
            <mat-icon svgIcon="dispatch"></mat-icon>
          </ng-container>
        </div>
      </div>
    </div>

    <div class="chat-control">
      <form [formGroup]="messageForm" (submit)="sendMessage($event)">
        <div class="chat-control-body">
          <div class="chat-control-item">
            <app-button
              [buttonParameters]="chatRoomConfig.buttons.add"
            ></app-button>
          </div>
          <div class="chat-control-item">
            <app-input
              *ngIf="!(file$ | ngrxPush)"
              formControlName="message"
              [inputParameters]="chatRoomConfig.inputs.message"
            ></app-input>
            <div class="file-item" *ngIf="file$ | ngrxPush">
              <mat-icon svgIcon="file"></mat-icon>
              <div class="file-name" *ngrxLet="file$ as fileObject">
                {{
                  $any(fileObject).file.name.length > 20
                    ? ($any(fileObject).file.name | slice: 0:20) + "..."
                    : $any(fileObject).file.name
                }}
              </div>
              <mat-icon svgIcon="plus" (click)="deleteFile()"></mat-icon>
            </div>
          </div>
          <div class="chat-control-item">
            <app-button
              [buttonParameters]="chatRoomConfig.buttons.smile"
            ></app-button>
            <app-button
              [buttonParameters]="chatRoomConfig.buttons.send"
            ></app-button>
          </div>
        </div>
      </form>
    </div>
  </ng-container>

  <ng-container *ngIf="!chatRoomData.chatData">
    <div class="chat-room-empty head-subtitle-text">
      <span>Select who you would like to write to</span>
    </div>
  </ng-container>
</ng-container>
