<div class="chat-list-header">
  <div class="chat-list-header-item">
    <div class="item-title head-title-text">Chats</div>
    <div class="item-subtitle head-subtitle-text">Recent Chats</div>
  </div>
  <div class="chat-list-header-item">
    <app-button [buttonParameters]="chatListConfig.buttons.create"></app-button>
  </div>
</div>

<div class="chat-list-search">
  <app-input [inputParameters]="chatListConfig.inputs.search"></app-input>
  <app-select [selectParameters]="chatListConfig.selects.filter"></app-select>
</div>

<div class="chat-list-body">
  <app-chat-card
    *ngFor="let chat of chatListData$ | ngrxPush"
    [chatCardParameters]="chat"
    [activeChatId]="activeChatId$ | ngrxPush"
    (click)="setActiveChat(chat.id)"
  ></app-chat-card>
</div>
