<div class="chat-list-header">
  <div class="chat-list-header-item">
    <div class="item-title head-title-text">Chats</div>
    <div class="item-subtitle head-subtitle-text">Recent Chats</div>
  </div>
  <div class="chat-list-header-item">
    <app-button
      [buttonParameters]="chatListConfig.buttons.create"
      (click)="openAddChatModal()"
    ></app-button>
  </div>
</div>

<div class="chat-list-search">
  <form [formGroup]="chatListForm">
    <app-input
      formControlName="search"
      [inputParameters]="chatListConfig.inputs.search"
    ></app-input>
    <app-select
      formControlName="filter"
      [selectParameters]="chatListConfig.selects.filter"
    ></app-select>
  </form>
</div>

<div class="chat-list-body" *ngrxLet="chatListData$; let chatList">
  <ng-container *ngIf="chatList.length">
    <app-chat-card
      *ngFor="let chat of chatListData$ | ngrxPush"
      [chatCardParameters]="chat"
      [activeChatId]="activeChatId$ | ngrxPush"
      (click)="setActiveChat(chat.id)"
    ></app-chat-card>
  </ng-container>

  <ng-container *ngIf="!chatList.length">
    <div class="chat-list-empty head-subtitle-text">
      <span>Create new chat</span>
    </div>
  </ng-container>
</div>

