@import "src/assets/scss/mixins";

:host {
  width: 100%;
  max-width: 600px;
  height: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.chat-list-header {
  width: 100%;
  max-width: 580px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 25px;

  &-item {
    display: flex;
    flex-direction: column;

    .item-title {
      margin-bottom: 15px;
    }
  }
}

.chat-list-search {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 580px;

  app-input {
    width: 100%;
  }

  app-select {
    max-width: 180px;
  }
}

.chat-list-body {
  width: 100%;
  overflow: hidden;
  max-height: 100%;
  overflow-y: scroll;

  app-chat-list {
    width: 100%;
    max-width: 580px;
  }
}

::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: $lynch;
  box-shadow: 4px 4px 15px rgba(112, 124, 151, 0.05),
    2px 2px 10px rgba(112, 124, 151, 0.1),
    1px 1px 50px rgba(112, 124, 151, 0.15);
  border-radius: 10px;
  box-sizing: content-box;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: $lynch;
}
