<ng-container>
  <div
    class="chat-card-wrapper user-card-container"
    [ngClass]="{
      active: chatCardParameters.id === activeChatId,
      'no-active': chatCardParameters.id !== activeChatId
    }"
  >
    <div class="chat-card-header">
      <div class="header-item">
        <div class="user-photo card-photo">
          <img
            [src]="'/assets/img/' + componentParameters.data.photo + '.png'"
            alt="user-photo"
          />

          <div *ngIf="chatCardParameters.data.online" class="user-status"></div>
        </div>
        <div class="user-info">
          <div class="user-name user-name-text">
            {{ chatCardParameters.data.firstName }}
            {{ chatCardParameters.data.lastName }}
          </div>
          <div
            class="user-status"
            [ngClass]="{
              'user-action-text-active': chatCardParameters.id === activeChatId,
              'user-action-text': chatCardParameters.id !== activeChatId
            }"
          >
            {{ chatCardParameters.data.status }}
          </div>
        </div>
      </div>
      <div class="header-item">
        <div
          class="date-message"
          [ngClass]="{
            'date-text-active': chatCardParameters.id === activeChatId,
            'date-text': chatCardParameters.id !== activeChatId
          }"
        >
          {{ chatCardParameters.data.time | date: "h:mm:ss" }}
        </div>
      </div>
    </div>
    <div class="chat-card-body">
      <div
        class="body-message"
        [ngClass]="{
          'message-text-member': chatCardParameters.id === activeChatId,
          'message-text-user': chatCardParameters.id !== activeChatId
        }"
      >
        {{ chatCardParameters.data.message }}
      </div>
      <div class="body-state" *ngIf="chatCardParameters.data.noChecked > 0">
        <span>{{ chatCardParameters.data.noChecked }}</span>
      </div>
    </div>
  </div>
</ng-container>
